<h1>Welcome to the new contacts page!</h1>
<h2>Please input the below fields, and submit to create a contact</h2>
<form action="/contact_added" method="post">
  <label for="name"> What is your contacts name?</label>
  <input id="name" name="name" type="text">
  <label for="address"> What is your contacts address?</label>
  <input id="address" name="address" type="text">
  <label for="phone"> What is your contacts phone number?</label>
  <input id="phone" name="phone" type="text">
  <button type="submit">Submit</button
</form>    
