<h1>Your current contacts consist of:</h1>

<ul>
  @foreach(var pull in Model)
  {
    <li>Name: @pull.GetName()</li>
    <li>Address : @pull.GetAddress()</li>
    <li>Phone Number: @pull.GetPhone()</li>
  }
</ul>

<p><a href="/add_new_contact">Click to add new contact</a></p>

<h1>Would you like to delete all your contacts?</h1>
<form action="/contacts_cleared" method="post">
  <button type="submit" name="button">Clear all contacts</button>
</form>

<p><a href="/">Return to Home Page.</a></p>
