<h1>Welcome to your address book</h1>
<h2>To get started; select a link from below:</h2>

<p><a href="/add_new_contact">Click to add new contact</a></p>
<p><a href="/all_contacts">Click to see all contacts</a></p>
